/* #ID .CLASSNAME TAG */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
}

#shopping {
    flex: 50%;
    border-right-style: double;
    border-right-color: black;
}

#cartSection {
    flex: 50%;

}

/* #cart01{
    position: relative;
    top: 0px;
} */

h1 {
    display: flex;
    justify-content: center;
}

#frm1,
#frm2,
#frm3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 15%;
    width: 450px;
    row-gap: 15px;
    column-gap: 1em;
}

#product-list {
    display: block;
    border-width: 2px;
    border-color: black;
}

.button {
    width: 175px;
    margin-left: 30%;

}

/* Adding some colors to Cart List */
#prodList_li {
    background-color: rgb(232, 233, 233);
    margin-left: 30px;
    padding: 5px;
}

/* Positioning all elements inside li DOWN*/
#prodList_butt_add {
    position: absolute;
    right: 5%;
    margin-left: 10px;
    margin-block-end: 0%;
    align-items: flex-end;
}

#inputBuy {
    position: absolute;
    right: 12%;
}

#prodList_butt_minus {
    position: absolute;
    right: 19%;
}

#prodList_butt_plus {
    position: absolute;
    right: 21%;
}

#prodList_butt_remove {
    position: absolute;
    right: 23.5%;
}

/* Positioning all elements inside li UP*/


Input {
    width: 75px;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;

}

/* Adding hover effect to Shop List DOWN*/
#shopList_li {
    display: block;
    width: 150px;
    position: relative;
    border-bottom: 1px dotted black;
}

#shopList_li .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltiptext */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}

#shopList_li:hover .tooltiptext {
    visibility: visible;
}

/* Adding hover effect to Shop List UP*/

/* Adding a line under Cart Quantity */
#cart-qty {
    display: block;
    border-bottom: 2px solid black;
    width: 97%;
    padding: 10px;
}

/* Adding a line above Total to pay */
#cart-total {
    display: block;
    border-top: 2px solid black;
    width: 97%;
    padding: 10px;
}