/* #ID .CLASSNAME TAG */
html {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
}

#shopping {
    border-right-style: double;
    border-right-color: black;
}

#shopSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    display: flex;
    justify-content: center;
    grid-area: H1;
}

/* forms */
#frm1 {
    display: grid;
    grid-area: form1;
    grid-template-columns: 60px 80px 60px 80px;
    grid-template-rows: repeat(3, 32px);
    width: 23vw;
    justify-content: center;
    gap: 0.5vw;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
}

#frm2,
#frm3,
#frm4 {
    display: grid;
    grid-template-columns: 60px 80px 60px 80px;
    grid-template-rows: repeat(2, 32px);
    width: 23vw;
    justify-content: center;
    gap: 0.5vw;
    margin: 5px;
    border: 1px solid black;
    padding: 5px;
}

/* reset button from frm1/2/3/4 */
input[type='reset'] {
    /* width: 80px;
    height: 24px; */
    margin-left: 152px;
}

/* button from frm1/2/3/4 */
.button {
    width: 160px;
    height: 24px;
    /* margin-left: 88px; */
}

#shop-list {
    display: grid;
    grid-template-columns: repeat(3, 160px);
    grid-template-rows: repeat(6, 32px);
    grid-auto-flow: column;
    height: 192px;
    justify-content: center;
    column-gap: 16px;
    cursor: pointer;
}

/* Adding some colors to Cart List */
#prodList_li {
    display: grid;
    grid-template-columns: 288px 80px 24px 24px 48px 48px;
    gap: 8px;
    background-color: rgb(232, 233, 233);
    margin-left: 32px;
    margin-right: 32px;
    height: 32px;
    padding: 4px;
}

#prodList_butt_add,
.inputBuy,
#prodList_butt_minus,
#prodList_butt_plus,
#prodList_butt_remove {
    height: 24px;
}

.inputBuy {
    width: 48px;
}

input {
    width: 80px;
    height: 24px;
}

label {
    display: inline-block;
    width: 160px;
    margin-bottom: 8px;
}

/* Adding hover effect to Shop List DOWN*/
.shopList_li {
    width: 152px;
    height: 19.2px;
    border-bottom: 1px dotted black;
    position: relative;
}

.shopList_li .tooltiptext {
    visibility: hidden;
    width: 256px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 4.8px 0;

    /* Position the tooltiptext */
    position: absolute;
    z-index: 1;
    top: -4.8px;
    left: 105%;
}

.shopList_li:hover .tooltiptext {
    visibility: visible;
}
/* Adding hover effect to Shop List UP*/

/* Adding a line under Cart Quantity */
#cart-qty {
    display: block;
    border-bottom: 2px solid black;
    width: 97%;
    padding: 8px;
}

/* Adding a line above Total to pay */
#cart-total {
    display: block;
    border-top: 2px solid black;
    width: 97%;
    padding: 8px;
}

/*Add the color Red to a Shop Product when the mlay = 0 */
li[type='red'] {
    color: red;
}